*{
    margin: 0;
    padding: 0;
    font-family: comic sans ms;
    background-color: auto;
}

.box{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.box a{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.replay{
    border: 2px solid #d53522;
    color: #d53522;
    background-color: inherit;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10em;
    padding: 25px;
    font-weight: 400;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}


.score{
    height: 80px;
    background-color: aquamarine;
    text-align: center;
    padding-bottom: 2vh;
}

.game{
    background-color: black;
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.player-side{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: lightblue;
}


.computer-side{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: orange;
}

.player-icons{
    flex-grow: 1;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

.player-icons img{
    width: 250px;
}

.computer-icons img{
    width: 250px;
}

.computer-icons{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.player-icons button{
    border: none;
    border-radius: 100px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.computer-icons button{
    border: none;
    appearance: none;
    background-color: inherit;
    padding: 15px;
}



.player-icons button:hover{
    background-color: aquamarine;
}

.replay:hover{
    color: white;
    box-shadow: 0 0 40px 40px #d53522 inset;
}