*{
    margin: 0;
    padding: 0;
    font-family: comic sans ms;
    background-color: auto;
}

.box{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.score{
    height: 80px;
    background-color: aquamarine;
    text-align: center;
    padding-bottom: 2vh;
}

.game{
    background-color: black;
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.player-side{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: lightblue;
}

.player-side h1{
    position: relative;
}

.computer-side{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: orange;
}

.player-icons{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    padding: 10px;
}

.player-icons img{
    width: 250px;
}

.computer-icons img{
    width: 250px;
}

.computer-icons{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.player-icons button{
    border: none;
    border-radius: 100px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 15px;
}

.computer-icons button{
    border: none;
    appearance: none;
    background-color: inherit;
    padding: 15px;
}



.player-icons button:hover{
    background-color: aquamarine;
}